.form-floating label{
  left: unset !important;
  color: darkgray;
}
.form-floating input,
.form-floating input:focus,
.form-floating textarea:focus,
.form-floating textarea,
.form-floating select{
  background-color: transparent ;
}
.form-control.is-invalid,
.form-select,
.textarea.form-control.is-invalid {
  background-position: left calc(.375em + .1875rem) center !important;
}