/* ========== Home Posts Section ========== */
.post{
  position: relative;
}
.post_image{
  width: 100%;
  height: 350px;
}
.badge_category{
  position: absolute;
  top: 15px;
  right: 25px;
}
.title_post{
  position: absolute;
  bottom: 0px;
  padding-right: 12px;
  padding-bottom: 10px;
}
.post .badge{
  background-color: #594b42 !important;
}
/* ========== Latest News Section ========== */
.latest_news .card-text{
  border-right: 6px solid #594b42;
  padding-right: 7px
}
.watch_also span{
  border-right: 6px solid #594b42;
  padding-right: 7px;
  font-size: 13px;
}
/* ========== economic ========== */
.economic{
  background-color: #594b42;
}
.economic .card{
  background-color: unset ;
  color: white;
  border: unset;
  position: relative;
}
.economic .card-text{
  border-right: 6px solid white ; 
  padding-right: 7px; 
}
.eco_img{
  width: 100px;
  height: 100px;
  position: absolute;
  top:90px; 
  opacity: .6;
}
/* ========== home_collection ========== */
.home_collection .mainimg{
  width: 100%;
  height: 200px;
}
.mainpost{
  position: relative;
}
.mainpost h6{
  position: absolute;
  bottom: 10px;
  padding-right: 13px;
}
/* ========== infografic ========== */
.infografic img{
  width: 100%;
  height: 300px;
}