a{
    text-decoration: none;
    color: unset;
}
.offcanvas-header .btn-close{
    margin: 0px !important;
    border:1px solid #594b42
}
.open_Nav{
    border-color: #594b42 !important;
    color: #594b42 !important;
}
.accordion-button:not(.collapsed)::after {
    position: absolute;
    left: 15px;
}
.accordion-button:not(.collapsed):focus,.accordion-button:focus {
    box-shadow: unset;
}

.accordion-button:not(.collapsed){
    background-color: #594b42;
    color: white;
}
.active div{
    background-color: #594b42 !important;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
.accordion-body a div {
    transition: .3s all ease-in-out;
}
.accordion-body a div:hover{
    background-color: #594b42 !important;
    color: white;
    padding: 10px;
    border-radius: 25px;
}